@font-face{
  font-family: 'Montserrat';
  src: local("Montserrat"), url("./Assets/Montserrat-VariableFont_wght.ttf") format("truetype");
}
/* static/Montserrat-Thin.ttf
  static/Montserrat-ExtraLight.ttf
  static/Montserrat-Light.ttf
  static/Montserrat-Regular.ttf
  static/Montserrat-Medium.ttf
  static/Montserrat-SemiBold.ttf
  static/Montserrat-Bold.ttf
  static/Montserrat-ExtraBold.ttf
  static/Montserrat-Black.ttf */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
